$white: #fff;
$blue: #116ACC;
$black: #000;
$blackBlue: #182233;
$blueLight: #A0C3FF;
$green: #76CA66;
$red: #FD4E5D;
$redError: #BA0000;
$gray: #F3F4F6;
$blueSpinnerLight: #B3CEE2;
$grayDark: #9CA3AF;
$grayBlack: #374151;
$grayLight: #E5E5E5;
$grayPlaceholder: #6B7280
